.vs/
src/Iconize.Sample.Droid/bin/
src/Iconize.Sample.Droid/obj/
src/Plugin.Iconize.Droid/bin/
src/Plugin.Iconize.Droid/obj/
src/Plugin.Iconize/bin/
src/Plugin.Iconize/obj/
src/Iconize.Sample.Droid/Iconize.Sample.Droid.csproj.user
src/Plugin.Iconize.Droid/Plugin.Iconize.Droid.csproj.user
src/Plugin.Iconize.iOS/bin/
src/Plugin.Iconize.iOS/obj/
src/Iconize.Sample.iOS/obj/
src/Plugin.Iconize.iOS/Plugin.Iconize.iOS.csproj.user
src/Plugin.IconFonts/Plugin.IconFonts.iOS/obj/
src/Plugin.IconFonts/Plugin.IconFonts.Android/obj/
src/Plugin.IconFonts/packages/
src/Plugin.IconFonts/Plugin.IconFonts.Android/bin/
src/Plugin.IconFonts/Plugin.IconFonts.iOS/bin/
src/Plugin.IconFonts/Plugin.IconFonts/obj/
src/Plugin.IconFonts/Plugin.IconFonts/bin/
src/Plugin.IconFonts/Plugin.IconFonts.Droid/obj/
src/Plugin.IconFonts/Plugin.IconFonts.Droid/bin/
src/Plugin.IconFonts/nuget.exe
nuget/nuget.exe
src/IconFonts.Sample.Droid/bin/
src/IconFonts.Sample.Droid/obj/
src/IconFonts.Sample.iOS/bin/
src/IconFonts.Sample.iOS/obj/
src/packages/
*.user
src/Plugin.IconFonts.Droid/bin/
src/Plugin.IconFonts.Droid/obj/
src/Plugin.IconFonts.iOS/bin/
src/Plugin.IconFonts.iOS/obj/
*.nupkg
